In [3]:
i = 10
if (i < 5) & (i ==10):
    print("this is a valid statemnt ")
    print('1')
#elif i < 8:
#    print("this is a valid stament in elif")
#else:
#    print("this will give me a defalut statement ")

In [4]:
i = 10 
s = "keshav"
if i==10:
    if type(s)==int:
        print("this is my name ")
    else : 
        print("this is a defalut condition ")
else :
    print("this is default dtatemnt for outer if block ")

this is a defalut condition

In [3]:
l = [3,4,4,5,6,"sudh","kumar","xyz"]
l

[3, 4, 4, 5, 6, 'sudh', 'kumar', 'xyz']

In [4]:
l[::2]

[3, 4, 6, 'kumar']

In [5]:
m = []
for i in l:
    if type(i)==int:
        m.append(i/10)

In [6]:
m

[0.3, 0.4, 0.4, 0.5, 0.6]

In [7]:
b=[]
for i in l:
    if type(i)==int:
        i= i+i
        print(i)

6
8
8
10
12

In [5]:

x = [1,2,3,4,6,'ashu','hello','hii']

m = 0

for i in x:
    
    if type(i) == int:
        m = m+i
    else:
        print('ignored')

print(m)

ignored
ignored
ignored
16

In [9]:
for i in "sudh":
    print(i)

s
u
d
h

In [8]:
l = [4,5,9,6,6]
for i in l :
    if i == 9:
        break
    print(i)
else :
    print("this is the for else block ")

4
5

In [9]:
s = "keshav sarda"
for i in s :
    if i == 's':
        continue
    print(i)

k
e
h
a
v

a
r
d
a

In [12]:
range(6)

range(0, 6)

In [12]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [18]:
list(range(4,8,3))

[4, 7]

In [14]:
l = [5,6,7,4,5,6,"keshav ","kuamr"]

In [15]:
len(l)

8

In [16]:
for i in range(len(l)):
    print(l[i])

5
6
7
4
5
6
keshav
kuamr

In [21]:
input()

5

'5'

In [24]:
a = int(input("take my name and age" ))
type(a)

take my name and age26

int

In [26]:
type(input())

5465

str

In [20]:
"keshav"  + str(9)

'keshav9'

In [21]:
l = [4,5,6,6]
l1 = [4,5,6,4,3]

In [22]:
l +l1

[4, 5, 6, 6, 4, 5, 6, 4, 3]

In [23]:
#this is a code to explain your str operation 
'keshav"s'

'keshav"s'

In [27]:
"""faasfsafasf 
fasfsa
fsadfas
fsadfas
fas
fsa
fa
sf
asf
as
fd"""

'faasfsafasf \nfasfsa\nfsadfas\nfsadfas\nfas\nfsa\nfa\nsf\nasf\nas\nfd'

In [25]:
s = "hello world"

In [26]:
s = s.upper()

In [27]:
s

'HELLO WORLD'

In [28]:
s.lower()

'hello world'

In [29]:
s = "hello world keshav"

In [30]:
s.split('o')

['hell', ' w', 'rld keshav']

In [31]:
"my name is {} .my age is {}".format("keshav",432)

'my name is keshav .my age is 432'

In [32]:
s  = "hello world"

In [33]:
s.find('l')

2

In [34]:

str1 = 'hello world'
l = []
l1 = []
for i in range(len(str1)):
    if str1[i]=='l':
        l.append(i)
        l1.append(str1[i])
print(l, l1, sep='\n')

[2, 3, 9]
['l', 'l', 'l']

In [35]:
s = "keshav"
s

'keshav'

In [36]:
s.center(40,'v')

'vvvvvvvvvvvvvvvvvkeshavvvvvvvvvvvvvvvvvv'

In [37]:
'hello\tworld'.expandtabs()

'hello   world'

In [34]:
y = "HEllow9"

In [42]:
dir(y)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [35]:
y.istitle()

False

In [41]:
y.isalpha()

False

In [39]:
y.isalphanum()

AttributeError: 'str' object has no attribute 'isalphanum'

In [30]:
y.isnumeric()

False

In [31]:
y.islower()

False

In [32]:
y.isupper()

False

In [44]:
y.isspace()

False

In [45]:
"keshav" * 3

'keshavkeshavkeshav'

In [46]:
[5,6,8]*3

[5, 6, 8, 5, 6, 8, 5, 6, 8]

In [47]:
l = [1,2,3,4,5,6,7,7,8,"keshav"]

In [48]:
l.append("keshav")

In [49]:
l

[1, 2, 3, 4, 5, 6, 7, 7, 8, 'keshav', 'keshav']

In [50]:
l.insert(2,"xyz")

In [51]:
l

[1, 2, 'xyz', 3, 4, 5, 6, 7, 7, 8, 'keshav', 'keshav']

In [52]:
l

[1, 2, 'xyz', 3, 4, 5, 6, 7, 7, 8, 'keshav', 'keshav']

In [53]:
l.pop()

'keshav'

In [54]:
l

[1, 2, 'xyz', 3, 4, 5, 6, 7, 7, 8, 'keshav']

In [55]:
l.pop(3)

3

In [56]:
l

[1, 2, 'xyz', 4, 5, 6, 7, 7, 8, 'keshav']

In [57]:
l =l[::-1]

In [58]:
l

['keshav', 8, 7, 7, 6, 5, 4, 'xyz', 2, 1]

In [59]:
l.reverse()

In [60]:
l

[1, 2, 'xyz', 4, 5, 6, 7, 7, 8, 'keshav']

In [61]:
l

[1, 2, 'xyz', 4, 5, 6, 7, 7, 8, 'keshav']

In [62]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [63]:
l = [4,3,4,4,5,6,67,7]

In [64]:
l.sort()

In [65]:
l

[3, 4, 4, 4, 5, 6, 7, 67]

In [66]:
sl   = ["keshav",'kumar']

In [67]:
sl.sort()

In [68]:
sl

['keshav', 'kumar']

In [69]:
l = [4,5,6,7,8]
l[3] = "keshav"

In [70]:
l

[4, 5, 6, 'keshav', 8]

In [71]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
l3 = [6,5,7,8]

In [72]:
l = [l1,l2,l3]

In [73]:
l

[[1, 2, 3, 4], [5, 6, 7, 8], [6, 5, 7, 8]]

In [74]:
[i[2] for i in l]

[3, 7, 7]

In [75]:
n

NameError: name 'n' is not defined

In [76]:
l = [4,5,6,6]

In [77]:
l.append([5,6,7])

In [78]:
l

[4, 5, 6, 6, [5, 6, 7]]

In [79]:
l1 = [4,5,6,7]

In [80]:
l1.extend([5,6,7])

In [81]:
l1

[4, 5, 6, 7, 5, 6, 7]

In [82]:
l = [5,3,4,5,6,7,8,5,6,7,8,2,4,3,2,2,2]

In [83]:
l = [5,6,7,2,8,5,6,4,6,5,6,7,8,2]
l = [i for i in l if i != 2]

In [84]:
l

[5, 6, 7, 8, 5, 6, 4, 6, 5, 6, 7, 8]

In [85]:
m=[]
l=[5,6,4,2,1,2,1,7,8,9,2,2]
for i in l :
    if i != 2 :
        m.append(i)
print(m)

[5, 6, 4, 1, 1, 7, 8, 9]

In [43]:
l=[2,2,22,2,22,5,4,5,5,7]
while 2 in l:
    l.remove(2)
    break

In [44]:
l

[2, 22, 2, 22, 5, 4, 5, 5, 7]

In [45]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
class abc:
    def fun1():
        return
    def fun2():
        return